@media print {
    body {
        padding: 0;
    }

    #about,
    #contact,
    .tm-sidebar,
    .carousel-indicators,
    .flex-item.tm-team-img,
    .blocks .tm-content-box,
    .img-fluid.img-contact-us{
        display: none;
    }

    .tm-team-description-container {
        max-width: 90%;
        margin: auto;
        text-align: center;
    }

    .tm-section-description {
        font-style: italic;
    }

    .heading h2 {
        text-align: center;
        color: #87cefa;
        font-weight: 300;
    }

    .heading ol {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: center;
        padding: 0 120px;
        margin: 0 55.5px;
    }

    .heading li:nth-child(odd) {
        text-align: left;
    }

    .heading li:nth-child(even) {
        text-align: right;
    }

    #tmCarousel {
        padding: 0 0 10px 0;
        margin: 0 40px;
    }

    .tm-banner {
        padding: 10px;
    }

    .tm-content-box {
        margin-bottom: 0;
    }

    .tm-main-content {
        padding-top: 0;
    }
    
    .padding-medium {
        padding: 0 0 10px 0;
    }
}

@media screen {
    
    .tm-nav-item .tm-nav-item-link:hover,
    .box-bg .tm-section-title-box:hover  {
        background-color: lightskyblue ;
        color: #fff; 
    }   
    
    .tm-banner {
        background: linear-gradient(burlywood, lightskyblue);
    }
    .tm-banner-inner {
        background: white;
    }
    
    .tm-banner-text {
        letter-spacing: 5px;
        word-spacing: 20px;
        text-shadow: 0 3px #76cdd7, 0 11px 2px #76cdd7;
        animation-name: anim_header;
        animation-duration: 1.5s;
        animation-timing-function: linear;
    }
    
    @keyframes anim_header {
        0% {transform: rotate(45deg)}
        100%{transform: rotate(0deg)}
    } 
   
    .tm-main-nav,
    .tm-content-header,
    .tm-main-content > section {
        box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
    }
  
    .tm-content-box.flex-2-col {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row-reverse;
    }

    
    .box-bg .tm-box-bg-title:hover {
        font-weight: bold;
    }
    
    section::before {
        content: "";
        width: 0;
        height: 0;
        border-top: 53px solid #87cefa; 
        border-right: 53px solid transparent;	
    }

    .heading  h2 {
        text-align: center;
        color: #87cefa;
    }

    .heading li {
        list-style-type: decimal-leading-zero;
    }
    
    .heading a:hover,
    .heading .text::after {
        color: red;
        font-weight: bold;
    }

    .heading a:hover::before {
        content: ">";
        display: inline-block;
    }
    
    .heading .text::after {
        content: "new";
        font-size: 60%;
        vertical-align: top;
        display: inline-block;
    }
   
    .padding-medium .tm-section-description {
        text-indent: 20px;
        line-height: 25px; 
    }

    li.box-work,
    .tm-section-description  {
        font-style: italic;
    }

    .tm-team-description-container .tm-section-title {
        text-align: center;
    }
   
    li.box-work {
        padding: 10px;
    }
    
    .box-work p::first-letter {
        font-weight: bold;
    }

    li:nth-child(even).box-work {
        background: #87cefa;
        color: white;
    }

    li:nth-child(even).box-work {
        background: #87cefa;
        color: white;
    }

    #contact {
        text-align: right;
    }

    .contact-form input {
        border: none;
        border-bottom: 1px solid #87cefa;
    }

    #contact_subject {
        background-image: url(../img/email-icon.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
    
    .contact-form .form-control:focus {
        background-color: rgb(105, 221, 215);
        color: white;
        box-shadow: none;
    }

    button.submit-btn {
        background: white;
        color: #87cefa;
        border: 2px solid #87cefa;
        border-radius: 0%;
        padding: 10px 40px;
    }

    button.submit-btn:hover {
        background: lightseagreen;
        border: none;
    }
}



