$mainImage: url(../img/m-h-day.jpg);
$mainPageColor : #21232e;

$buttonBackgroundColor: #699900;
$buttonFontColor: #ffffff;

$mainBackground: #fff;
$headerSectionColor:#fff;

$bannerBgColor: linear-gradient(80deg, #66960b, #305ece);
$bannerHeader: #2c2f3c;

$contentBackground: #21232e;
$textFontColor: #b6c3ce;

$mainFont: 'Source Sans Pro', sans-serif;
$textFont: 'Hind', sans-serif;

$textBackground: linear-gradient(#14a0c7, #14a0c7);

$font-size: (
    small: 30px,
    medium: 50px,
    large: 90px
);