$mainImage: url(../img/m-h-night.jpg);
$headerSectionColor: #fff;

$buttonBackgroundColor: #e3ac00;
$buttonFontColor: #ffffff;

$mainBackground: #21232e;
$mainPageColor : #fff;

$bannerBgColor: linear-gradient(80deg, #dea505, #922c53);
$bannerHeader: #fff;

$contentBackground: #3b3f50;
$textFontColor: #b6c3ce;

$mainFont: 'Source Sans Pro', sans-serif;
$textFont: 'Fresca', sans-serif;

$textBackground: linear-gradient(#ff4e33, #ff4e33);

$font-size: (
    small: 30px,
    medium: 50px,
    large: 90px
);